*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #333;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    /* TESTING */
    height: 2000px;
}
header { 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.navbar{
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 20px;
}
header .navbar nav{
    display: flex;
    justify-content: space-between;
}
header .navbar nav ul{
    display: flex;
}

header .navbar nav ul li{
    margin: 0 15px;
}
header nav a#logo {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
}
header a {
    font-weight: 600    ;
    color: #333;
}

header .navbar nav ul li a:hover {
    color: #007BFF;
}

header .navbar nav ul li a.active {
    color: #007BFF;
}


/* MAIN SECTION */
main {
    margin-top: 100px; /* Adjust based on header height */
    padding: 80px;
}